.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    color: white;
    font-size: 16px;
}

.snippetContainer {
    margin: 10px;
    position: relative;
}

.nameWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pasteButton {
    width: 32px;
    height: 32px;
    min-width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}