.fieldName {
    margin-bottom: 10px;
}

.nameWrapper {
    border: 1px solid #4e515b;
}

.markerArea {
    background: #35373e;
    border: 1px solid #4e515b;
    padding: 10px 10px;
    height: calc(100% - 60px);
    min-height: 150px;
    max-height: 200px;
    overflow: hidden;
}

.markerArea:hover {
    overflow: overlay;
}

.nameArea {
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-height: unset;
    border: none;
}

.shape {
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markerInfoWrapper {
    height: calc(100% - 175px);
    min-height: 450px;
    margin-bottom: 10px;
}

.markerInfoWrapper .field {
    display: flex;
    flex-direction: column;
    height: calc(100% / 2);
    margin-bottom: 10px;
}

.areaWrapper {
    width: calc(100% - 10px);
    display: flex;
    flex-wrap: wrap;
}

.customColor {
    border: none;
    background: none;
    width: 150px;
    margin-left: 30px;
    color: white;
    text-align: initial;
    padding: 0;
    outline: none;
}

.colorPopover {
    position: absolute;
    left: 150px;
    z-index: 100;
    top: 25px;
}

.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.markerWrapper {
    margin: 5px;
    padding: 5px;
    border: 1px solid transparent;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.selectedMarkerWrapper {
    border: 1px solid white;
}

.iconWrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.iconWrapper i {
    font-size: 23px;
}

.markerFieldInput {
    border: none !important;
}
