.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.markerArea {
    background: #2f3036;
    border: 1px solid #656565;
    border-radius: 3px;
    padding: 10px 10px;
    overflow-y: hidden;

    flex-grow: 1;
}

.itemsContents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.markerIconWrapper {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
}

.markerColorWrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.customColor {
    border: none;
    background: none;
    width: 150px;
    margin-left: 30px;
    color: white;
    text-align: initial;
    padding: 0;
    outline: none;
}

.colorPopover {
    position: absolute;
    left: 150px;
    z-index: 100;
    top: 25px;
}

.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.markerWrapper {
    margin: 5px;
    padding: 5px;
    border: 1px solid transparent;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.selectedMarkerWrapper {
    border: 1px solid white;
}

.iconWrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.iconWrapper i {
    font-size: 23px;
}



.labelWrapper {
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.labelWrapper.color {
    position: relative;
}
.labelWrapper label {
    font-size: 14px;
    color: #737888;
    margin: 0;
}
