.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.editorContainer {
    /* height: calc(100% - 160px);
    min-height: 150px; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.editor {
    flex-grow: 1;
    min-height: 200px;
    margin-bottom: 15px;
    padding: 10px;

    background: #35373e;
    border: 1px solid #656565;
    border-radius: 0 3px 3px 3px;
}

.tabs {
    display: flex;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    text-align: center;
    color: #737888;
    margin-bottom: -1px;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 20px;
}

.errorCount {
    margin-left: 5px;
    background: #e24c4b;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.selectedEditorContainerTab {
    background: #35373e;
    border: 1px solid #656565;
    border-bottom: none;
    color: white !important;
    z-index: 1;
}

.editorErrors {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    max-height: 150px;
    overflow-y: auto;
}

.editorErrors:empty {
    margin: 0;
}

.errBox {
    display: flex;
    margin-bottom: 10px;
}

.errBox:last-child {
    margin-bottom: 0;
}

.errorBullet {
    margin-right: 10px;
    background: #e24c4b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 11px;
}

.alertItem {
    margin-right: 20px;
}

.errorMessage {
    color: red;
}

.checkboxContainer {
    margin-bottom: 12px;
}

.tabWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.codeWrapper {
    flex-grow: 1;

    position: relative;
}

.codeInner {
    position: absolute;
    overflow: auto;

    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.assistantWrapper {
    width: 50%;
    height: 100%;
    color: #ffffff;
    padding: 10px;
    background-color: rgb(30, 30, 30);

    position: relative;
}

.assistantInner {
    position: absolute;
    overflow: auto;

    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}